<h2>All documents</h2>
<% @documents.each do |document| %>
  <div style="border: 1px solid black;">
    <%= form_for document, remote: true do |f| %>
      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %><br>
      </p>
      <p>
        <%= f.label :contents %><br>
        <%= f.text_area :contents %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>
  </div>
<% end %>

<h2>New document</h2>
<div style="border: 1px solid black;">
  <%= form_for :document, url: documents_path, remote: true do |f| %>
      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %><br>
      </p>
      <p>
        <%= f.label :contents %><br>
        <%= f.text_area :contents %>
      </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
